.sections{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
}

.section {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #282c34; 
    color: white;
    margin: 4px;
    border-radius: 20px;
}

.graphs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
}

.graph {
    width: 100%;
    height: 270px;
    line-height: 270px;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
    font-size: calc(10px + 5vmin);
    color: #46795d;
}
